html {
  box-sizing: border-box;
}

body {
  font-family: "TT Lakes", sans-serif;
  font-size: 14px;
  color: #1b1c21;
  background-color: #ffffff;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: #f8f8f8;
}
.header {
  position: relative;
  z-index: 100;
  padding: 24px 16px;
  box-shadow: 0 2px 3px 0 #d9fff5;
}

.header__list {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 16px;
}

.list__item-logo {
  display: flex;
  align-items: center;
  position: relative;
}
/* devider для эконки logo */
.list__item-logo::after {
  content: "";
  width: 2px;
  height: 32px;
  background-color: #eaeaea;
  border-radius: 1px;
  margin: 0 16px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-side__list {
  display: flex;
  gap: 16px;
}
/* отключаем не нужные правые иконки в мобильной версии */
.right-icon__left-side {
  display: none;
}

/* размер иконок */
.header__list img {
  width: 40px;
  height: 40px;
  display: block;
  object-fit: contain;
}
/* размер иконок */
.list__item-logo img {
  width: 96px;
  height: 50px;
}

.main {
  background-color: #f8f8f8;
}

.title {
  position: relative;
  padding: 24px 0 24px 0;
}

.title__text {
  position: relative;
  padding-left: 16px;
}
.title__text::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 40px;
  border-left: 4px solid #41f6d7;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.title__text h1 {
  font-size: 28px;
  font-weight: bold;
  padding: 0 16px;
  margin: 0;
  /* margin-bottom: 24px; */
}

.title-group-button {
  display: none;
}

.services__menu {
  overflow-x: auto;
  white-space: nowrap;
  margin: 0 16px 24px 16px;
}

.services__list {
  display: inline-flex;
  gap: 10px;
  /* list-style: none;
  margin-left: 16px;
  padding-right: 16px; */
}

.services__item {
  display: inline-block;
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  color: #7e7e82;
  border: 2px solid transparent;
  border-radius: 6px;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.2s ease;
}

.services__item--active {
  color: #7e7e82;
  border-color: #b8ffec;
  background-color: #ffffff;
}

.services__list-alt {
  display: none;
}

.about-us__text {
  padding: 0 16px 16px 16px;
  font-size: 14px;
  font-weight: 400;
}
/* Второй параграф в разрешении от 768px */
.about-us-text__second-p {
  display: none;
}

.about-us-text__all-text {
  display: none;
}

.about-us__btn-link {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  margin-top: 16px;
}

.cps-img {
  width: 100%;
  display: block;
  /* margin-top: 16px; */
  border-radius: 6px;
  object-fit: cover;
}

/* Адаптив планшет на 768px */

@media (min-width: 768px) {
  body {
    box-sizing: border-box;
    /* padding: 0 24px; */
  }

  .header {
    padding: 24px 16px;
  }

  .title .title-group-button {
    display: none;
  }

  .about-us .about-us-text__all-text {
    display: none;
  }

  /* Скрываем разделитель у логотипа CPS */
  .list__item-logo::after {
    display: none;
  }

  .header__right-icon {
    display: flex;
  }

  .right-icon__left-side {
    display: flex;
  }

  .left-side__list {
    display: flex;
    gap: 16px;
  }

  .header__list {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 0;
  }

  .list__item-menu {
    display: flex;
    align-items: center;
  }

  .list__item-menu::after {
    content: "";
    display: inline-flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 2px;
    height: 32px;
    border: 1px solid #eaeaea;
    border-radius: 1px;
    margin: 0 20px;
  }

  .header__right-icon {
    display: flex;
  }
  .right-icon__list {
    display: flex;
    align-items: center;
    margin-left: auto;
    justify-content: space-between;
  }
  .right-icon__list li {
    /* margin-right: 16px; */
  }
  .list__item-profile {
    display: flex;
    align-items: center;
  }
  /* Добовляем разделитель к иконке profile */
  .list__item-profile::after {
    content: "";
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    border-radius: 1px;
    margin: 0 20px;
  }

  .title__text h1 {
    margin: 0;
  }

  .main {
    min-height: 416px;
  }

  .about-us-text__p {
    display: inline-flex;
  }

  .about-us {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 24px;
  }
  .about-us__text {
    flex: 1 1 45%;
    padding-right: 16px;
  }

  .cps-img {
    flex: 1 1 45%;
    margin-top: 0;
    width: auto;
    height: auto;
    border-radius: 6px;
  }

  .cps-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
    display: block;
  }

  .about-us__btn-link {
    padding: 0;
    margin-top: 14px;
    font-size: 16px;
    font-weight: 500;
  }
  .about-us-text__second-p {
    display: block;
    margin-top: 24px;
  }
}

/* Адаптив Desktop на 1120px  */

@media (min-width: 1120px) {
  .list__item-repair--text::before {
    content: "Оставить заявку";
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #1b1c21;
  }

  .list__item-checkstatus--text::before {
    content: "Статус ремонта";
    margin-right: 8px;
    font-size: 14px;
    font-weight: 500;
    color: #1b1c21;
  }
  .header {
    display: none;
  }

  .title {
    padding: 42px 0 8px 0;
    margin: 0;
  }

  .title__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title .title-group-button {
    display: inline-flex;
    gap: 32px;
    align-items: center;
  }

  .title-group-button li {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  .title-group-button li a {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  .services__menu .services__list {
    display: none;
  }

  .services__menu .services__list-alt {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .main {
    min-height: 535px;
    padding-right: 25px;
  }

  .about-us__text {
    padding: 16px 36px 0 34px;
  }

  .about-us__text:first-child p {
    display: none;
  }
  .about-us .about-us-text__all-text {
    display: block;
  }
}
